openapi: 3.2.0
info:
  title: Oper Credits Agent Documents Communication History API
  version: '1.0'
servers:
- url: https://developers.opercredits.com/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Communication History
paths:
  /api/communication-history/:
    get:
      operationId: api_communication_history_list
      parameters:
      - description: A page number within the paginated result set.
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Number of results to return per page.
        in: query
        name: page_size
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBaseLoanRequestCommunicationHistoryList'
          description: ''
      security:
      - jwtAuth: []
      tags:
      - Communication History
  /api/communication-history/{id}/:
    delete:
      operationId: api_communication_history_destroy
      parameters:
      - description: A unique integer value identifying this Loan request communication history.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: No response body
      security:
      - jwtAuth: []
      tags:
      - Communication History
components:
  schemas:
    PaginatedBaseLoanRequestCommunicationHistoryList:
      properties:
        count:
          example: 123
          type: integer
        next:
          example: http://api.example.org/accounts/?page=4
          format: uri
          type:
          - string
          - 'null'
        previous:
          example: http://api.example.org/accounts/?page=2
          format: uri
          type:
          - string
          - 'null'
        results:
          items:
            $ref: '#/components/schemas/BaseLoanRequestCommunicationHistory'
          type: array
      required:
      - count
      - results
      type: object
    BaseLoanRequestCommunicationHistory:
      properties:
        history_type:
          type: integer
        id:
          readOnly: true
          type: integer
        log_level:
          type: integer
      required:
      - history_type
      - id
      - log_level
      type: object
  securitySchemes:
    jwtAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
