openapi: 3.2.0
info:
  title: Oper Credits Agent Documents Third Party API
  version: '1.0'
servers:
- url: https://developers.opercredits.com/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Third Party Api
paths:
  /api/third-party-api/realty-valuations/{id}/:
    patch:
      operationId: api_third_party_api_realty_valuations_partial_update
      parameters:
      - description: A unique integer value identifying this Realty Valuation.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedRealtyValuation'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedRealtyValuation'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedRealtyValuation'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtyValuation'
          description: ''
      security:
      - jwtAuth: []
      tags:
      - Third Party Api
    put:
      operationId: api_third_party_api_realty_valuations_update
      parameters:
      - description: A unique integer value identifying this Realty Valuation.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealtyValuationAndSourceData'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RealtyValuationAndSourceData'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RealtyValuationAndSourceData'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtyValuationAndSourceData'
          description: ''
      security:
      - jwtAuth: []
      tags:
      - Third Party Api
components:
  schemas:
    Country:
      description: Can be managed at /resources/country
      properties:
        definition:
          type: string
        id:
          type: integer
        order:
          readOnly: true
          type: integer
      required:
      - definition
      - id
      - order
      type: object
    RealtyValuationDocument:
      properties:
        document_type:
          type: string
        document_url:
          format: uri
          type: string
      required:
      - document_type
      - document_url
      type: object
    RealtyValuationType:
      description: Can be managed at /resources/realty-valuation-type
      properties:
        definition:
          type: string
        id:
          type: integer
        order:
          readOnly: true
          type: integer
      required:
      - definition
      - id
      - order
      type: object
    StreetType:
      description: Can be managed at /resources/street-type
      properties:
        definition:
          type: string
        id:
          type: integer
        order:
          readOnly: true
          type: integer
      required:
      - definition
      - id
      - order
      type: object
    FloodRiskType:
      description: Can be managed at /resources/flood-risk-type
      properties:
        definition:
          type: string
        id:
          type: integer
        order:
          readOnly: true
          type: integer
      required:
      - definition
      - id
      - order
      type: object
    RealtyType:
      description: Can be managed at /resources/realty-type
      properties:
        definition:
          type: string
        id:
          type: integer
        order:
          readOnly: true
          type: integer
      required:
      - definition
      - id
      - order
      type: object
    RealtyValuation:
      properties:
        created:
          format: date-time
          readOnly: true
          title: Creation date and time
          type: string
        documents:
          items:
            $ref: '#/components/schemas/RealtyValuationDocument'
          type: array
        external_generation_uuid:
          format: uuid
          type: string
        external_service:
          readOnly: true
          type: string
        id:
          readOnly: true
          type: integer
        last_modified:
          format: date-time
          readOnly: true
          title: Modification date and time
          type: string
        oper_reference:
          format: uuid
          readOnly: true
          type: string
        realty:
          readOnly: true
          type: integer
        status:
          allOf:
          - $ref: '#/components/schemas/RealtyValuationStatus'
        valuation_date:
          format: date
          type:
          - string
          - 'null'
        valuation_expiration_date:
          format: date
          type:
          - string
          - 'null'
        valuation_redirection_url:
          format: uri
          maxLength: 200
          type: string
        valuation_reference:
          maxLength: 255
          type: string
        valuation_type:
          allOf:
          - $ref: '#/components/schemas/RealtyValuationType'
      required:
      - created
      - external_service
      - id
      - last_modified
      - oper_reference
      - realty
      - valuation_reference
      type: object
    RealtySourceDataCreate:
      properties:
        address:
          allOf:
          - $ref: '#/components/schemas/NonRequiredAddress'
        cadastral_references:
          items:
            type: string
          type:
          - array
          - 'null'
        co2_emission_per_year:
          format: double
          type:
          - number
          - 'null'
        commercial_area:
          format: double
          type: number
        e_level:
          maximum: 2147483647
          minimum: 0
          type:
          - integer
          - 'null'
        epc_after_renovations:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - integer
          - 'null'
        epc_before_renovations:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - integer
          - 'null'
        epc_contract_number:
          maxLength: 128
          type: string
        epc_date:
          format: date
          type:
          - string
          - 'null'
        epc_date_valid_until:
          format: date
          type:
          - string
          - 'null'
        epc_label:
          maxLength: 10
          type:
          - string
          - 'null'
        epc_missing_reason:
          maxLength: 256
          type: string
        flood_risk:
          allOf:
          - $ref: '#/components/schemas/FloodRiskType'
        forced_value_after:
          format: double
          type:
          - number
          - 'null'
        forced_value_before:
          format: double
          type:
          - number
          - 'null'
        living_area:
          format: double
          type: number
        living_percentage:
          format: double
          type: number
        mobi_score:
          format: double
          maximum: 10
          minimum: 0
          type:
          - number
          - 'null'
        nearest_flood_zone:
          format: double
          type:
          - number
          - 'null'
        price_building:
          format: double
          type:
          - number
          - 'null'
        realty_type:
          allOf:
          - $ref: '#/components/schemas/RealtyType'
        realty_valuation_type:
          allOf:
          - $ref: '#/components/schemas/RealtyValuationType'
        rooms:
          format: double
          type: number
        surface:
          format: double
          type: number
        total_parcel_area:
          format: double
          type: number
        venal_value_after:
          format: double
          type:
          - number
          - 'null'
        venal_value_before:
          format: double
          type:
          - number
          - 'null'
        year_of_built:
          maximum: 9999
          minimum: 1000
          type:
          - integer
          - 'null'
      type: object
    NonRequiredAddress:
      description: 'Inheriting from base address serializer and set with a few optional

        fields. Use this serializer to add any future non required fields.'
      properties:
        box:
          maxLength: 64
          type: string
        building:
          type: string
        city:
          maxLength: 64
          type: string
        country:
          allOf:
          - $ref: '#/components/schemas/Country'
        floor:
          maxLength: 64
          type: string
        heading:
          format: double
          type:
          - number
          - 'null'
          exclusiveMinimum: -100000
          exclusiveMaximum: 100000
        house_number:
          maxLength: 64
          type: string
        id:
          readOnly: true
          type: integer
        latitude:
          format: double
          type:
          - number
          - 'null'
          exclusiveMinimum: -100000
          exclusiveMaximum: 100000
        longitude:
          format: double
          type:
          - number
          - 'null'
          exclusiveMinimum: -100000
          exclusiveMaximum: 100000
        pitch:
          format: double
          type:
          - number
          - 'null'
          exclusiveMinimum: -100000
          exclusiveMaximum: 100000
        staircase:
          type: string
        street:
          maxLength: 64
          type: string
        street_type:
          allOf:
          - $ref: '#/components/schemas/StreetType'
        zip_code:
          maxLength: 8
          type: string
        zoom:
          format: double
          type:
          - number
          - 'null'
          exclusiveMinimum: -100000
          exclusiveMaximum: 100000
      required:
      - city
      - house_number
      - id
      - street
      - zip_code
      type: object
    RealtyValuationStatus:
      description: Can be managed at /resources/realty-valuation-status
      properties:
        definition:
          type: string
        id:
          type: integer
        order:
          readOnly: true
          type: integer
      required:
      - definition
      - id
      - order
      type: object
    RealtyValuationAndSourceData:
      properties:
        data:
          $ref: '#/components/schemas/RealtySourceDataCreate'
        valuation:
          $ref: '#/components/schemas/RealtyValuation'
      required:
      - valuation
      type: object
    PatchedRealtyValuation:
      properties:
        created:
          format: date-time
          readOnly: true
          title: Creation date and time
          type: string
        documents:
          items:
            $ref: '#/components/schemas/RealtyValuationDocument'
          type: array
        external_generation_uuid:
          format: uuid
          type: string
        external_service:
          readOnly: true
          type: string
        id:
          readOnly: true
          type: integer
        last_modified:
          format: date-time
          readOnly: true
          title: Modification date and time
          type: string
        oper_reference:
          format: uuid
          readOnly: true
          type: string
        realty:
          readOnly: true
          type: integer
        status:
          allOf:
          - $ref: '#/components/schemas/RealtyValuationStatus'
        valuation_date:
          format: date
          type:
          - string
          - 'null'
        valuation_expiration_date:
          format: date
          type:
          - string
          - 'null'
        valuation_redirection_url:
          format: uri
          maxLength: 200
          type: string
        valuation_reference:
          maxLength: 255
          type: string
        valuation_type:
          allOf:
          - $ref: '#/components/schemas/RealtyValuationType'
      type: object
  securitySchemes:
    jwtAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
